*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 650px;
    width: 100%;
}


/* nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 11%;
    margin-right: 14%;
} */


/* nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    display: inline-block;
    color: rgba(0, 0, 0, 0.795);
    padding-left: 20px;
    font-weight: bold;
} */

/* header*/
.logo{
    position: absolute;
     margin-left: auto;   
    margin-right: auto;
    width: 100%;
    text-align: center;
    top: 5px; 
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

/* section{
    position: absolute;
    width: 100%;
    margin-top: 600px;
  
} */
#main{
    position: relative;
    z-index: 1;
    width: 100%;
    background-image: url(../images/index_bg.jpg);
}

/*css pc*/
#menu{
    /* sticky chỉ hỗ trợ một số trình duyệt nên dùng js + fixed để thay thế  */
    position: sticky ; 
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #0000001a;

} 
.inline{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.content_menu{
    display: flex;
    align-items: center;
  }
  .item_menu_pc{
    display: flex;
    
  }
  .item_menu1{
    display: flex;
  }
.content_menu ul{
  display: flex;
}
.mobile{
  display: none;
  }
  .icon_menu{
      display: flex;

  }
.img_logo_menu{
  padding-top: 25px;
    float: left;
}
.icon_fb, .icon_ins{
  height: 30px;
  margin-top: 5px;
}
.icon_ins{
  padding-left: 15px;
}

/*css menu mobile */

  .navbar_mobile{
      width: auto;
      height: auto;
      display: none;
      padding-left: 25px;
      padding-top: 7px;
      padding-bottom: 7px;
  
  }

  /* content1 */

.a1{
    padding-top: 100px;
    background-image: url(../img/index_bg.jpg);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ly{
    margin-top: 5%;
}
.tea1{
    margin-bottom: 3%;
}