*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 650px;
    width: 100%;
}

/* header*/
.logo{
    position: absolute;
     margin-left: auto;   
    margin-right: auto;
    width: 100%;
    text-align: center;
    top: 5px; 
    
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}
#main{
  padding-top: 75px;
    position: relative;
    z-index: 1;
    width: 100%;
    background-image: url(../images/index_bg.jpg);
}

/*css pc*/
#menu{
    position: absolute; 
    /* thay bang js + fixed */
    z-index: 10000;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #0000001a;
} 
.sticky{
  position: fixed !important ;
  top: 0;
  width: 100%;
}

.inline{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.content_menu{
    display: flex;
    align-items: center;
  }
  .item_menu_pc{
    display: flex;
    
  }
  .item_menu1{
    display: flex;
  }
.content_menu ul{
  display: flex;
}
  .icon_menu{
      display: flex;

  }
.img_logo_menu{
  padding-top: 25px;
    float: left;
}
.icon_fb, .icon_ins{
  height: 30px;
  margin-top: 5px;
}
.icon_ins{
  padding-left: 15px;
}

/*css menu mobile */

  .navbar_mobile{
      width: 30px;
      height: 30px;
      cursor: pointer;
  }
  .close{
    display: block;
    position: absolute;   
}
/* khi tick */
.nav_input:checked ~  #menu > .menu_in > .xoay{
    animation:xoay 0.35s linear;
}
.nav_input:checked~ #menu > .menu_in > .xoay >.navbar_mobile >.close{
    opacity: 1;
    transition: 0.6s;
}
.nav_input:checked ~  #menu > .menu_in> .xoay  >.navbar_mobile >.iconmenu{
    opacity:0;
    transition: 0.35s;
}
/* khi khong tick */
.nav_input:not(checked)~  #menu > .menu_in> .xoay{
    animation: nguoc 0.35s linear;
}
.nav_input:not(checked)~  #menu > .menu_in> .xoay >.navbar_mobile >.close{
    opacity: 0;
    transition: 0.35s;
}
.nav_input:not(checked)~  #menu > .menu_in> .xoay > .navbar_mobile >.iconmenu{
    opacity: 1;
    transition: 0.6s;
}
.xoay{
    box-sizing:content-box ;
    border: 1px solid transparent;   
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    float: right;
    display: none;

}

@keyframes xoay {
    to {
        transform:rotate(-180deg)
    }
}
@keyframes nguoc {
    to {
        transform:rotate(180deg)
    }
}


.nav_mobile1{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #e7e7e7; 
  text-align: center;
  padding: 20px 0;
  transition: 0.5s ease;
}
.link{
  color: black;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
#menu_input:not(checked) ~ .nav_mobile1{
  transform: translateY(-100%);
}
#menu_input:checked ~ .nav_mobile1{
  transform: translateY(42%);
}



  /* content1 */

.a1{
    padding-top: 100px;
    background-image: url(../img/index_bg.jpg);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.bg{
  text-align: center;
}
.ly{
   
    width: 50%;
}
.tea1{
    margin-bottom: 3%;
}
#idea{
    margin-top: 70px;
    position: relative;
    height: 100vh;
    width: 100%;
}
video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}
/* content 2 */
.content_2{
  position: relative;
    background-image: url(../images/backgroud.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    height: auto;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
   
}

 #about{
    padding-left: 135px;
    padding-right: 135px;

 }

    
 .img_content_2{
     display: flex;
     justify-content: flex-end;
    margin-right: -135px;
} 

.pic_content_2{
    margin-right: 180px;
    margin-top: 100px;
}

.border_content_2{
    border-top:  1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.text_content_2{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.title_content_2{
    font-weight: normal;
    padding-bottom: 10px;
}
.text1_content_2{
    font-size: 1.5em;
    width: 630px;

}
.text2_content_2{
    padding-top: 30px;
    
}
.text3_content_2{
color: #d5d5d5;
    font-size: 14px;
    line-height: 25px;
    width: 60%;
    margin: 40px 20px 0 0;
    padding-right: 200px;
}
.img_content_2{
    margin-top: -790px;
    margin-left: 150px;
}


  /* conent 3 */
  #quality{    
    background-image: url(../images/index_bg.jpg);
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    
  }
  .content3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-content3{
    max-width: 1350px;
  }
  .content_3_box1{
    overflow: hidden;
    padding-bottom: 40px;
    width: 100%;
  }
  .content_3_box1,.content_3_box2,.content_3_box3{
    margin-bottom: 1%;
    width: 100%;
  }
  .img_content_3{
    display: flex;
  }
  .border_box1, .border_box2, .border_box3{
    position: absolute;
    border: 1px solid #2b3d41;
    background-color: #2b3d41;
    border-radius: 50%;
    width: 190px ;
    height: 190px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    margin-left:430px ;
    margin-top: 160px;
    line-height: 170%;
  }
  .border_box1 > p {
    width: 80%;
  }
  .border_box2{
    border: 1px solid #C9BC9C;
    background-color: #C9BC9C;
    color: #3E4C4C;
  }
  .border_box3{
    position: absolute;
    margin-top: -490px;
    
  }
  .quality1{
    margin-top: -210px;
  }
  .quality2{
    margin-left: 50px;
  }
  .quality3{
  
    margin-top: 50px;
    margin-left: -200px;
  }
  
  .text_box_C3{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .text_box_content3{
    width: 26em;
    line-height: 30px;
    margin-left: 90px;
    margin-bottom: 80px;
    color:#2b3d41;
    font-size: 20px;
  }
  .text-box2{
    
    margin-bottom: 145px ;
  }
  .text-box3{
    position: relative;
    margin-bottom: 450px;
    top:0;
  }
/* conten 4 */


  /* content 5 */

  #content5{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgb(43,61,65);
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.img_store-location{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.img_store-location > img {
    margin-left: 5px;
}
.container--content5{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.chose_location{
    margin-bottom: 15px;
}
.chose_location > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.list{
    list-style-type: none;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 6px 20px 6px 20px;
    font-size: 16px;
    margin: 5px;
    margin-left: 0;
    background-color: #fff;
    cursor: pointer;
    color: rgba(0,0,0,0.5);
}
.box_item--location{
    width: 100%;
    color: #fff;
}
.itemBox{
    margin-top: 35px;
    margin-bottom: 35px;
}
.itemBox > ul {
    width: 100%;
    margin: 50px 0px;
}
.item-location{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.item-location > ul > li{
    list-style-type: none;
}
.name-location{
    height: 100%;
    width: 180px;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
}
.info-location{
    margin-left: 50px;
    width: 45%;
    text-align: left;
    font-size: 15px;
}
.info-location > li {
  display: flex;
}
.text-info-location{
  font-weight: bold;
  padding-right: 5px ;
}
.google-location{
    width: 300px;    
    text-align: right;
}
.active{
    display: block;
}
.hide{
    display: none;
}

  /* footer */
  #global{
  height: 320px;
  background: url(../images/page-bg_02.jpg)top center no-repeat, #000; 
  background-size: 80%;
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 80px 0;
  text-decoration: none;
  }
  .gl{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
  }

  #footer {
    background-color: #333;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #FFF;
    font-size: 12px;
    padding-left: 50px;
    font-family: 'Poppins';
  }
  .ft>p>a{
    color: #FFF;
    text-decoration: none;
  }


/* ----------------------------------------------Mobile ------------------------------------------------------*/


@media screen and (max-width: 739px)
{

  .logo{
    padding-top: 100px;
    text-align: center;
  }
  .logo_top{
    width: 90%;
  }
  #menu{
    display: block;
    position: fixed  ;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    z-index: 10000000;
  }
    .inline{       
        width: 100%;
        display: flex;
        align-items: center;
    }
    .img_logo_menu{
        padding: 0;
        margin-left: 25px;
    }
    .menu_in{
        width: 100%;  
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .item_menu1{
        display: none;
    }
    .iconmenu{
        display: block;     
        position: absolute;     
        cursor: pointer;         
    }     
      
    .icon_menu{        
        border-right: 1px solid black;     
        padding: 0 22px 0 0;       
        list-style-type: none;
    }
    .icon_ins{
        padding:0px;
        width: 100%;
        height: 45px;
               
    }
    .icon_fb{
        width: 100%;
        height: 45px;
    }   
   .xoay{
    margin-left: 25px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   }
   .nav_mobile1{
     display: block;
   }
  .navmenu_mobile > li{
    margin-top: 10px;
  }
/* content2 */
#about{
    width: 90%;
    padding: 0;
    margin: auto;
  }
  .content_2{
    padding-bottom: 0;
    width: 100%;
  }
  .text1_content_2{
    width: auto;
  }
  .img_content_2 {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pic_content_2{
    width: 40%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: -230px;
    position: relative;
  }
  .text3_content_2{
    font-size: 16px;
    padding-right: 0;
    width: 100%;
    margin: 15px 0 0 0 ;
  }
  
/* content 3 */
#quality{
  width: 100%;
}
.content3{
    z-index: 2;
    width: 100%;
  }
  .content_3_box1,.content_3_box2,.content_3_box3{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
  }
  .img_content_3,.img_content_3_tea{
    display: flex;
    justify-content: center;
  }
  .quality2{
    width: 90%;
    margin: 0;
  }
  .quality1{
    margin-top: -30%;
    width: 100%;
  }
  .quality3{
    width: 100%;
    margin: 0;
  }
  .border_box1,.border_box2,.border_box3{
    margin-left: 0;
    margin: 0;
  }
  .border_box1{
    margin-top: 175px;
  }
  .border_box1 > p{
    width: 120px;
  }
  .border_box2{
    margin-top: 160px;
  }
  .border_box3{
    margin-top: 30%;
  }
  .text_box_C3{
    width: 85%;
    margin: 0;
    margin: auto;
  }
  .text_box_content3{
    width: 100%;
    margin: 0;
  }
  .text-box-mobile1{
    margin-top: 20% ;
  }
  .text-box-mobile2{
      margin-top: 20%;
  }
  .text-box2{
    margin-top: 50px;
  } 
  .text-box3{
    margin-top: 50px;
  }
  .text-box-mobile3{
      margin-top: 25%;
    padding-bottom: 100px;
  }

/* content 4 */



/* content 5 */
.container--content5{
  margin-top: 120px;
}
.itemBox > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-location{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-location{
  width: 200px;
  font-size: 20px;
}
.info-location{
  margin: 20px 0 20px 0;
  font-size: 19px;
  width: 100%;
}
.info-location > li{
  padding-top: 4px;
  padding-bottom: 4px;
}
.img_store-location{
  justify-content: center;
}
.chose_location > ul {
  justify-content: center;
}
.chose_location > ul > li {
  margin: 7px;
}

   
}

/* ----------------------------------------------Tablet ------------------------------------------------------*/

@media screen and ( min-width:740px ) and ( max-width: 1024px ) {
  

/* content 1 */

/* content 2 */
.content_2{
  padding-bottom: 0;
}
.border_content_2{
  text-align: center;
}
.bottom_content_2{
  width: 100%;
  display: flex;

}
.text3_content_2{
  width: 100%;
  padding: 0;
  margin: 40px 0 0 0 ;
  font-size: 18px;
}
.text1_content_2{
  width: 100%;
}
.img_content_3,.img_content_3_tea{
  width: 100%;
  display: flex;
  justify-content: center;
}
.img_content_2{
  margin: 70px 0 15px 15px ;
  overflow: hidden;
  display:flex;
  justify-content: center;
  width: auto;
}
.pic_content_2{
  width: 100%;
  padding: 0;
  margin: 0;
}
.quality3{
  margin-left: 0;
}
.quality2{
  margin-left:0 ;
  width: 90%;
  object-fit: cover;
  overflow: hidden;
}
.text-box3{
  margin-bottom: 70px;
}

.content_3_box1,.content_3_box2,.content_3_box3{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_box_content3 {
  width: 30em;
  margin-left: 0;
  margin-top: 15px;
  text-align: justify;
  font-size: 20px;
}
.border_box3{
  margin-top: 0;
}


/* content 3 */
#quality{
position: relative;
margin-top: -200px;
z-index: 2;
}
.text_box_C3{
  margin-top: 10px;
}
.img_content_3{
  position: relative;
  display: flex;
}
.quality2{
  margin-left:0 ;
}

/* content 4 */


/* content 5 */
.container--content5{
  margin-top: 120px;
}
.img_store-location{
  justify-content: center;
}
.img_store-location > img {
  margin-bottom: 20px;

}
.chose_location{
  width: 90%;
  display: flex;
  justify-content: center;
}
.chose_location > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box_item--location{
  width: 90%;
}
.info-location{
  width: 55%;
}

.google-location{
  margin-top: 20px;
}

}


.menu-con{
 
     background-color: #1f1f1f;  
     padding: 30px 60px;
     position: relative;
  }
  
  .menu-con .container{
    display: block;
    margin: 30px auto 50px auto;
      text-align: center;
  }
  .logo-menu-con{
      text-align: center;    
      margin: 50px auto 30px auto;    
     width: 30%;
  }
  .menu-list ul{
    list-style: none;
    color: #fff;   
    text-align: left;
    margin-left: 40px;
  }
  .menu-list>ul>li{
    display:block;
  }
  .series-title{
      border-top: 1px solid #c9bc9c;
      border-bottom: 1px solid #c9bc9c;
      color: #c9bc9c;   
      padding: 20px 0 16px 0;
      font-size: 20px;
      margin: 0 0 20px 0;
   
  }
  .menu-list .item{
    margin: 8px 0;
    height: auto;
  }
  .menu-list .series-title .en{display: block;font-size: 60%;}
  .menu-list .item .en{display: block;font-size: 80%;color: #e7e7e7;}
  .menu-list ul{
    list-style: none;
    color: #fff;
    text-align: left;
    text-align: left;
  }
  .en{
   display: block; 
  font-size:12px;
  }
  
  .menu-list>ul>li>ul{
  width:100%;
  text-align: left;
  padding-bottom: 20px;
  }
  
  .menu-list .item span .info{
      display: inline-table;    
      font-size: 14px;    
      vertical-align: top;
  }
  
  .menu-info{ 
      border: 1px solid #fff;
      padding: 12px 0px;
      text-align: center;
      color: #fff;   
      line-height: 160%;       
    font-size: 12px;
      
  }
  .anh{    
    margin: 0 -2px -5px 15px;
    display: inline-block;	
  }
  .chuthich{
    font-size: 12px;
  }
  .item{
      margin: 8px 0px;
      display: flex;
      justify-content:space-between;
      align-items: center;
  }
  .temp-icon{
  margin: 0px -2px -5px -2px; 
  display: inline-block;
  }
  .recom-icon{
  margin: 0px 0 -5px 0;
  }
  .menu-list .item .recom-icon{
  position: absolute; 
  margin: 0px 0 0 -14px;}
  
  .size-icon{
  width: 18px; 
  height: 18px;
  margin: 0px 0 -2px 0; 
  display: inline-block;}
  .menu-list .item span.price{
    /*width: 12%;*/
    vertical-align: top;
    float: right;
    text-align: right;
  }
 
  
  @media screen and (min-width: 600px) {
    .menu-list>ul>li{
      display: inline-flex;
      width: 45%;
      padding: 0 18px;
    }
  }
  @media screen and (min-width: 700px) {
    .menu-list .item span.price br{display: none;}
    .menu-info br{display: none;}
  }
   
  @media screen and (min-width: 1100px) {
    .menu-con .container{
      width: 100%;}
    .menu-info{width:100%;}
    .menu-list ul{
      align-items: center;
      margin-left: 35px;
   
      padding: 10px 0 0 6%;
      width: 100%;
    }
    .menu-list>ul>li{
      display: inline-grid;
      width: 20%;
      padding: 0 25px px 0;
      
    }
    .menu-list .item span.info{
      width:80%;
    }
    .logo-menu-con{
      width: 30%;
    }
  }
  
  
  @media screen and (min-width: 1600px) {
    .menu-con .container{
      width: 1200px;}
    .menu-info{width:95%;}
    .menu-list ul{padding: 10px 0 0 10px;}
    .menu-list>ul>li{
      display: inline-grid;
      width: 24%;
      padding: 0 25px;
    }
  }
  @media screen and (max-width: 1000px) {
    .menu-info{width:100%;}
    .menu-con{
      padding: 50px 50px;
      }
    .menu-con .container{
      width: 100%;
      margin: 30px auto 50px auto;
      padding: 0;
      }
    .menu-list,.series-title{
      font-size: 120% !important;
      line-height: 100%;
    }
    .menu-list .series-title{
      border-top: 2px solid #c9bc9c;
      border-bottom: 2px solid #c9bc9c;
    }
    .menu-list ul{
    padding: 10px 0 0 0px;
    }
    .menu-list ul ul{
      width: 100%;
      padding: 20px 0;
    }
    .menu-list>ul>li{
    width: 100%;
    padding: 0;
    display: block;
  }
    .menu-list .item{
      min-height: 50px;
      border-bottom: 2px dotted #888988;
      padding: 3px 0 3px 0;
    }
    .menu-list .item:last-child {
      border-bottom: 0px;
    }
    .menu-list .item .en{
      font-size: 100%; 
      line-height: 80%; 
      padding: 5px 0 0 0;
    }
    .menu-list .item span.info{
      font-size: 100%; 
      width: 70%;
    }
    .menu-list .item span.price{
      width: 30%;
    }
    .spshop{
      font-size:90%;
      padding: 0px 12px;
    }
  }
  
  
@media screen and (min-width: 1024px) and (max-width: 1310px) {
  
  .content_2{
    padding-bottom: 0;
  }
  .border_content_2{
    text-align: center;
  }
  .bottom_content_2{
    width: 100%;
    display: flex;
  
  }
  .text3_content_2{
    width: 100%;
    padding: 0;
    margin: 40px 0 0 0 ;
    font-size: 18px;
  }
  .img_content_3,.img_content_3_tea{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img_content_2{
    margin: 70px 0 15px 15px ;
    overflow: hidden;
    display:flex;
    justify-content: center;
    width: auto;
  }
  .pic_content_2{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #quality{
    position: relative;
    margin-top: -200px;
    z-index: 2;
    }
    .text_box_C3{
      margin-top: 10px;
    }
    .quality3{
      margin-left: 0;
    }
    .quality2{
      margin-left:0 ;
      width: 90%;
      object-fit: cover;
      overflow: hidden;
    }
    .text-box3{
      margin-bottom: 70px;
    }

    .content_3_box1,.content_3_box2,.content_3_box3{
      /* width: 100%; */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text_box_content3 {
      width: 24.5em;
      margin-left: 0;
      margin-top: 15px;
      text-align: justify;
      font-size: 20px;
    }
    .border_box3{
      margin-top: 0;
    }

}
  