*{margin: 0; padding: 0; font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;    
        }
body{
    background-color: rgba(0, 0, 0, 0.7);
}

/* menu */

#menu {
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;

}
.grid.wide{
    max-width: 1300px;
}
.inline{
    position: relative;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content_1--menu, .content_2--menu, .content_3--menu{
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_1--menu{
    justify-content: flex-start;
}
.content_1--menu  > span > a{
    text-decoration: none;
    margin: 0 15px 0 15px;
    color: #fff;
}
.logo_white--menu{
    display: block;
}
.logo_black--menu{
    display: none;
}
.content_3--menu > ul {
    display: flex;
}
.content_3--menu > ul > li  {
    list-style-type: none;
}
.multi-language{
    display: flex;
    flex-direction: column;
    width: 100px ;
    cursor: pointer;
}
.language--menu{
    position: relative;
    cursor: pointer;
}
#option_language--menu{
    display: flex;
    flex-direction: column;
    position:absolute;
    background-color: #fff;
    margin-top: 35px;
    /* display: none; */
    /* dung js  */
}

#option_language--menu > span{
    padding: 5px 15px 5px 13px  ;
}
/* .abc:checked > .multi-language > #option_language--menu{
    display: block !important;
}
.abc:not(checked) > .multi-language > #option_language--menu{
    display: none !important;
} */
/* dung` js */