*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 650px;
    width: 100%;
}


/* nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 11%;
    margin-right: 14%;
} */


/* nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    display: inline-block;
    color: rgba(0, 0, 0, 0.795);
    padding-left: 20px;
    font-weight: bold;
} */

/* header*/
.logo{
    position: absolute;
     margin-left: auto;   
    margin-right: auto;
    width: 100%;
    text-align: center;
    top: 5px; 
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

/* section{
    position: absolute;
    width: 100%;
    margin-top: 600px;
  
} */
#main{
    position: relative;
    z-index: 1;
    width: 100%;
    background-image: url(../images/index_bg.jpg);
}

/*css pc*/
#menu{
    /* sticky chỉ hỗ trợ một số trình duyệt nên dùng js + fixed để thay thế  */
    position: sticky ; 
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #0000001a;

} 
.inline{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.content_menu{
    display: flex;
    align-items: center;
  }
  .item_menu_pc{
    display: flex;
    
  }
  .item_menu1{
    display: flex;
  }
.content_menu ul{
  display: flex;
}
.mobile{
  display: none;
  }
  .icon_menu{
      display: flex;

  }
.img_logo_menu{
  padding-top: 25px;
    float: left;
}
.icon_fb, .icon_ins{
  height: 30px;
  margin-top: 5px;
}
.icon_ins{
  padding-left: 15px;
}

/*css menu mobile */

  .navbar_mobile{
      width: auto;
      height: auto;
      display: none;
      padding-left: 25px;
      padding-top: 7px;
      padding-bottom: 7px;
  
  }


  .close{
    display: block;
    position: absolute;   
    
}
.icon3gach{
    display: block;
}
.nav_input:checked~.xoay{
    animation:xoay 0.3s linear;
}
.nav_input:checked~.xoay >.navbar_mobile >.close{
    opacity: 1;
    transition: 0.5s;
}
.nav_input:checked ~.xoay >.navbar_mobile >.icon3gach{
    opacity:0;
    transition: 0.2s;
}
.nav_input:not(checked)~.xoay{
    animation: nguoc 0.3s linear;
}
.nav_input:not(checked)~.xoay >.navbar_mobile >.close{
    opacity: 0;
    transition: 0.2s;
}
.nav_input:not(checked)~.xoay > .navbar_mobile >.icon3gach{
    opacity: 1;
    transition: 0.5s;
}
.xoay{
    border: 1px solid transparent;   
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    float: right;
}

@keyframes xoay {
    to {
        transform:rotateZ(-180deg)
    }
}
@keyframes nguoc {
    to {
        transform:rotateZ(180deg)
    }
}



  /* content1 */

.a1{
    padding-top: 100px;
    background-image: url(../img/index_bg.jpg);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ly{
    margin-top: 5%;
}
.tea1{
    margin-bottom: 3%;
}



.video{
    margin-top: 70px;
}

/* content 2 */
.content_2{
    background-image: url(../images/backgroud.jpg);
    height: auto;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

 #about{
    padding-left: 135px;
    padding-right: 135px;

 }

    
 .img_content_2{
     display: flex;
     justify-content: flex-end;
    margin-right: -135px;
} 

.pic_content_2{
    margin-right: 180px;
    margin-top: 100px;
}

.border_content_2{
    border-top:  1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.text_content_2{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.title_content_2{
    font-weight: normal;
    padding-bottom: 10px;
}
.text1_content_2{
    font-size: 1.5em;
    width: 630px;

}
.text2_content_2{
    padding-top: 30px;
    
}
.text3_content_2{
color: #d5d5d5;
    font-size: 14px;
    line-height: 25px;
    width: 60%;
    margin: 40px 20px 0 0;
    padding-right: 200px;
}
.img_content_2{
    margin-top: -790px;
    margin-left: 150px;
}






@media screen and (max-width: 840px)
{
    .inline{       
        width: 100%;
    }
    .img_logo_menu{
        position: absolute;     
        padding: 0;
    }
    .menu_in{
        width: 100%;        
    }
    .item_menu1{
        display: none;
    }
    .icon3gach{
        display: block;     
        position: absolute;     
        cursor: pointer;         
    }     
      
    .navbar_mobile{   
        opacity: 1;         
    }
    .icon_menu{        
        
        border-right: 1px solid black;     
        padding: 0 22px 0 0;       
        
       
        
        list-style-type: none;
       
        
    }
    .icon_ins{
        padding:0px;
        width: 100%;
        height: 45px;
               
    }
    .icon_fb{
        width: 100%;
        height: 45px;
    }   
   .xoay{
       display: block;
       margin-top: 35px ;
       margin-right: 20px;

   }
   
}